micronaut:
  io:
    watch:
      enabled: true
      paths:
        - /flows_folder # Specify the path inside the container where flows are located
datasources:
   postgres:
     url: jdbc:postgresql://postgres:5432/kestra
     driverClassName: org.postgresql.Driver
     username: kestra
     password: k3str4
kestra:
   server:
     basic-auth:
       enabled: true
       username: "s.gioldasis@gmail.com" # It must be a valid email address
       password: Admin1234
   tutorialFlows:
     enabled: false
   repository:
     type: postgres
   storage:
     type: local
     local:
       basePath: "/app/storage"
   queue:
     type: postgres
   tasks:
     tmpDir:
       path: "/tmp/kestra-wd/tmp"
   url: "http://localhost:8080/"